.page {
  background-color: #ddd;
  color: #333;
  min-height: 100vh;
}
.absoluteCenter {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  flex-direction: column;
}
.withNavBar{
  min-height: calc(100vh - 4rem);
}
.content {
  background-color:#fff;
  padding:1rem;
}
